@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-weight: bold;
    color: #fff;
    background-color: #0A0403;
}

#max-width-limit {
    width: 1200px;
    margin: auto;
}

p {
    font-weight: 100;
    font-size: 110%;
}

/* heading and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #AA5639;
}

header {
    height: 100px;
}

#logo {
    font-family: 'Oooh Baby', sans-serif;
    float: left;
    font-size: 280%;
    margin-left: 30px;
    text-transform: capitalize;
}

#menu, #logo {
    line-height: 100px;
}

/* navigation links */

#menu {
    font-size: 130%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #AA5639;
}

#menu a:hover {
    border-bottom: 3px solid #AA5639;
}

.active {
    border-bottom: 3px solid #AA5639;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/heroimge.jpg') no-repeat center center;
    background-size: cover;
}

/* cover text */

#cover-text {
    font-size: 200%;
    font-family: Oswald, sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #b3470c;

    width: 100%;
    height: 200px;

    top: 20%;

    position: absolute;
}

#cover-text li {
    list-style: none;
}

/* event times */

#events {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    background-color: #88452e;
    overflow: hidden;
}

#events h1 {
    text-align: center;
    background-color: #0A0403;
    color: #AA5639;
    font-size: 280%;
}

#events div {
    
    width: 100%;
    height: 400px;
    float: left;
    padding: 30px;
    border: 20px solid #0A0403;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 4px;

}

#events div h2 {
    color: rgb(255, 255, 255);
}

#event p {
    letter-spacing: 0;
}

#events img {
    height: 100%;
    width: 300px;
    float: left;
}

 h4 {
     font-size: 200%;
 }

 /* footer */
footer {
    text-align: center;
    width: 100%;
    height: 150px;
    padding-top: 20px;
}

footer h2 {
    color: #AA5639;
}

.media > li {
    display: inline;
    color: #AA5639;
}

.adress {
    float: left;
    margin-left: 10%;
    margin-right: 60px;
}

.contact {
    float: right;
    margin-right: 10%;
}

.media i {
    font-size: 200%;
    padding: 3%;
    color: #AA5639;
}

/* about us section */
.container {
    width: 100%;
    height: 700px;
    margin: auto;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }

  .container h2 {
    color: #fff;
    padding: 10px;
  }
  
  .one {
    width: 50%;
    height: 100%;
    background: #88452e;
    float: left;
    padding: 10px;
  }

  .one img {
      border-radius: 50%;
  }
  
  .two {
    margin-left: 50%;
    height: 100%;
    background: url('../images/sandra-image.jpg') no-repeat center center;
    background-size: cover;
    padding: 10px;
  }

 /* book venue */

 .form-section {
    height: 900px;
    background: url('../images/hero-image-two.jpg');
    background-size: cover;
    background-position: center;
}

/* cover form */

.cover-form {
    text-align: center;
    color: #fff;
    background-color: rgba(136, 69, 46, 0.6);
    max-width: 500px;


    position: relative;
    top: 15%;
    left: 350px;
    padding: 30px;
}

.cover-form h2 {
    color: #fff;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width:100%;
    height:25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    text-align: center;
}

.text-input:hover {
    border-color: #88452e;
}

.send-button {
    margin-top: 20px;
    margin-left: 38%;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #AA5639;
    color: #fff;
    display: block;
}

#message {
    font-family: Oswald, sans-serif;
    letter-spacing: 2px;
    background: transparent;
    color: #fafafa;
    width:100%;
    height: 200px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
}

#message:hover {
    border-color: #88452e;
}

/* For medium screen sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #max-width-limit {
        width: 100%;
        margin: 0;
    }

    .cover-form {
        left: 0;
        margin: auto;
    }
}

/* For medium screen sizes from 767px wide and down */
@media screen and (max-width: 767px) {
    #max-width-limit {
        width: 100%;
        margin: 0;
    }

    .cover-form {
        left: 0;
        margin: auto;
    }

    header {
        height: 200px;
    }

    #events div {
        width: 100%;
        height: 100%;
        float: left;
        padding: 30px;
        border: 20px solid #0A0403;
        box-sizing: border-box;
        text-align: center;
        letter-spacing: 4px;
    }

    #events img {
        height: 100%;
        width: 100%;
        float: none;
    }

    .adress {
        float: none;
        margin-right: 0;
    }
    
    .contact {
        float: none;
    }
    .container {
        height: 100%;
        box-sizing: border-box;
      }
      
      .one {
        width: 100%;
        height: 100%;
        float: none;
        box-sizing: border-box;
      }
    
      .two {
        margin-left: 0;
        height: 400px;
      }
    
    #menu, #logo {
        line-height: 50px;
        text-align: center;
    }
  
}